.taskWrapper{
    margin: 5rem;
}
.taskContent{
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 6px 6px -6px black;   

}
.taskWrapper h5{
    font-weight: 500;
}
.taskDeadline{
    margin: 0;
    font-size: 0.9rem;
}
.taskDescription{
    margin-top:2rem;
    white-space: pre-line;
}
.taskButtonDiv{
    display: flex;
    justify-content: space-between;
}
.taskButton{
    margin-top:1rem;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    background-color: var(--holder100Orange) !important;
    border-color: var(--holder100Orange) !important;
}
