.listItem{
    margin-top: 2rem;
}
.listItem:hover{
    cursor: pointer;
    color: var(--holder100Orange)

}
.listHeader{
    color:#707070;
}
.listItem a{
    color:black;
}
.listItem a:hover{
    text-decoration: none;
    color: var(--holder100Orange)
}
.fontAwesomeIconMenu{
    font-size: 1.8rem !important;
    color: var(--holder100Orange);
    margin-right: 1rem;
}
.listCol{
    max-width: 3rem !important;
    padding-left: 2.4rem !important;
    display: flex;
    justify-content: center;
}
.listMenu{
    margin-top: 7rem;
}

.homeContainer{
    background-color: #F5F5F5;
    min-height: 90vh;
    border-radius: 1rem;
}
.homeContainerContainer{
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.homeContainerContainer h4{
    color:#707070;
    margin-bottom: 2rem;
}
.listSection{
    margin-top: 8rem;
}
.submitBtn{
    background-color: var(--holder100Orange) !important;
    border-color: var(--holder100Orange) !important;
    border-radius: 0.5rem !important;
    width: 100%;

}
.errorMessage{
    color: red
}

@media only screen and (max-width: 991px) {
    .listMenu{
        margin-top: 1rem;
    }
    .homeContainerContainer{
        margin-left: 1rem;
        margin-right: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
}