.taskDiv {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 6px 6px -6px black;
}
.taskDiv:hover {
  cursor: pointer;
}
.taskDiv h5 {
  font-weight: 500;
}
.taskDiv p {
  margin: 0;
  font-size: 0.9rem;
}
.taskLink:hover {
  text-decoration: none;
}
.centerHorizontal {
  align-items: center;
}
.spinnerStyles {
  padding-top: 10rem;
}
.endlessDataCol {
  display: flex;
  justify-content: flex-end;
}
.fontAwesomeIconTasks {
  font-size: 1.5rem !important;
  color: var(--holder100Orange);
}
.secondaryBtn {
  margin-top: 1rem;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  background-color: white !important;
  border-color: var(--holder100Orange) !important;
  color: #707070 !important;
  width: 100%;
}
